.git/*
env/
venv/
.venv
.venv/

__pycache__/
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

static/
media/

db.sqlite3

htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
notes/tests/test_plan.txt
notes/tests/test_plan_pytest.txt
notes/tests/test_plan_unittest.txt
notes/tests/test_plan_unittest copy.txt
notes/pytest_tests/test_plan_pytest.txt
notes/tests/test_plan_my_unittest.txt
